/* ----------------------- Header design ----------------------- */

.page-header {
    height: 110px;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 40px 1fr;

    .page-header-image {
        grid-area: 1 / 2 / 2 / 3;

        img {
            height: 25px;
            width: 25px;
            display: block;
            padding-top: 15px;
            margin: 10px 0;
        }
    }

    .page-header-text {
        grid-area: 1 / 3 / 2 / 4;

        span {
            font-size: 22px;
            display: block;
            padding-top: 25px;
        }
    }
}

/* ----------------------- Content design ----------------------- */

span {
    font-family: "Roboto";
}

.polygon-1 {
    position: absolute;
    width: 734.87px;
    height: 734.87px;
    left: -300px;
    top: 1400px;
    transform: rotate(-1.1deg);
}

.polygon-2 {
    position: absolute;
    width: 237.07px;
    height: 237.07px;
    left: 90%;
    top: 1134.32px;
    transform: rotate(-9.39deg);
}

.polygon-3 {
    position: absolute;
    width: 343.91px;
    height: 343.91px;
    left: 85%;
    top: 1176.08px;
    transform: rotate(-5.24deg);
}

.polygon-4 {
    position: absolute;
    width: 451.28px;
    height: 451.28px;
    left: 90%;
    top: 1251.87px;
    transform: rotate(-126.56deg);
}

.vector-1 {
    position: absolute;
    left: 395px;
    top: 0px;
    width: 1868.11px;
    height: 863.7px;
}

.labler-screenshot {
    position: absolute;
    width: 750px;
    height: 462px;
    left: calc(100vw - 50%);
    top: 221px;
    z-index: 3;

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transform: matrix(1, 0.12, 0, 0.99, 0, 0);
}

.page-content {
    padding-top: 110px;
    width: 100%;
    height: 1800px;

    position: relative;
}

/* ----------------------- Person section ----------------------- */

.labler-container {
    height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: 60% 1fr;

    .labler-text-holder {
        width: 430px;
        height: 375px;
        display: grid;
        grid-template-rows: 50% 1fr 30%;
        padding-top: 5%;
        margin: 0 auto;

        .labler-main-text {
            font-size: 48px;
            font-weight: 700;
            float: left;
        }

        .labler-description {
            font-weight: 400;
            font-size: 15px;
            float: left;
        }
    }
}

.labler-documentation-button {
    div {
        width: 140px;
        height: 40px;
        background: #ff3364;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;

        span {
            color: #fafafc;
            display: block;
            font-size: 14px;
            font-weight: 400;
            padding-top: 12px;
        }
    }
}

/* ----------------------- Arrow down animation ----------------------- */

.labler-boxes {
    height: 800px;
    display: grid;
    width: 100%;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    z-index: 3;

    .labler-info-box {
        width: 310px;
        height: 250px;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;

        background: #ffffff;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.03);
        border-radius: 30px;

        div {
            span {
                padding-top: 25px;
                display: block;
                padding-left: 30px;
                padding-right: 30px;
                text-align: left;
            }
        }

        .box-header {
            span {
                color: #313131;
                font-weight: bold;
                font-size: 24px;
            }
        }

        .box-description {
            span {
                color: #404040;
                font-weight: normal;
                font-size: 14px;
            }
        }

        .box-button {
            width: 140px;
            height: 40px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 23px;
            margin-left: 30px;

            span {
                color: #fafafc;
                font-weight: normal;
                font-size: 14px;
                padding-top: 12px;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
            }
        }
    }

    .first-box {
        grid-area: 1 / 2 / 2 / 3;
        margin: 25% auto;

        .box-button {
            background: #ff3364;
        }
    }

    .second-box {
        grid-area: 1 / 3 / 2 / 4;
        margin: 50% auto;

        .box-button {
            background: #ff9533;
        }
    }

    .third-box {
        grid-area: 1 / 4 / 2 / 5;
        margin: 75% auto;

        .box-button {
            background: #3733ff;
        }
    }

    .labler-box-background {
        grid-area: 1 / 1 / 2 / 6;

        img {
            width: 600px;
            height: 400px;
            display: block;
            margin: 10% auto;
        }
    }
}


//                        HD-Laptop-Layout
// ----------------------------------------------------------------

@media (min-width: 1400px) and (max-width: 1500px) {
    .labler-screenshot {
        width: 570px;
        height: 380px;
    }

    .page-content {
        height: 1500px;
    }

    .vector-1 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1868.11px;
        height: 863.7px;
    }

    .polygon-1 {
        height: 334.87px;
        top: 1300px;
    }
}

//                        MD-Laptop-Layout
// ---------------------------------------------------------------- 

@media (min-width: 1280px) and (max-width: 1400px) {
    .labler-screenshot {
        width: 520px;
        height: 350px;
    }

    .page-content {
        height: 1400px;
    }

    .vector-1 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1868.11px;
        height: 863.7px;
    }

    .polygon-1 {
        height: 334.87px;
        top: 1300px;
    }
}


//                        Tablet-Layouts
// ----------------------------------------------------------------

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {

    .labler-screenshot {
        width: 660px;
        height: 400px;
        left: calc(100vw - 55%);
    }

    .labler-container {
        height: calc(100vh - 300px);
        grid-template-columns: 45% 1fr;
    }
}

@media (min-height: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .page-header { 
        height: 50px;
    }

    .labler-container {
        height: calc(100vh - 200px);
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .labler-screenshot {
        width: 660px;
        height: 400px;
        left: calc(100vw - 80%);
        top: 725px;
    }

    .labler-boxes {
        height: 800px;
        display: grid;
        width: 100%;
        grid-template-columns: 0% 1fr 1fr 1fr 0%;
        z-index: 3;
    }

    .polygon-1 {
        height: 334.87px;
        top: 1800px;
    }
    
    .polygon-2 {
        top: 1234.32px;
    }
    
    .polygon-3 {
        top: 1276.08px;
    }
    
    .polygon-4 {
        top: 1351.87px;
    }

    .vector-1 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1868.11px;
        height: 863.7px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .page-header { 
        height: 50px;
    }

    .labler-container {
        height: calc(100vh + 400px);
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .labler-screenshot {
        width: 660px;
        height: 400px;
        left: calc(100vw - 80%);
        top: 725px;
    }

    .labler-boxes {
        height: 800px;
        display: grid;
        width: 100%;
        grid-template-columns: 0% 1fr 1fr 1fr 0%;
        z-index: 3;
    }

    .polygon-1 {
        height: 334.87px;
        top: 1800px;
    }
    
    .polygon-2 {
        top: 1234.32px;
    }
    
    .polygon-3 {
        top: 1276.08px;
    }
    
    .polygon-4 {
        top: 1351.87px;
    }

    .vector-1 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1868.11px;
        height: 863.7px;
    }
}

@media (min-height: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .page-header { 
        height: 50px;
    }

    .labler-container {
        height: calc(100vh + 100px);
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .labler-screenshot {
        width: 660px;
        height: 400px;
        left: calc(100vw - 92.5%);
        top: 725px;
    }

    .labler-boxes {
        height: 800px;
        display: grid;
        width: 100%;
        grid-template-columns: 0% 1fr 1fr 1fr 0%;
        z-index: 3;

        .labler-info-box {
            width: 230px;
            height: 250px;
        }
    }

    .polygon-1 {
        height: 334.87px;
        top: 1600px;
    }
    
    .polygon-2 {
        top: 1284.32px;
    }
    
    .polygon-3 {
        top: 1276.08px;
    }
    
    .polygon-4 {
        top: 1351.87px;
    }

    .vector-1 {
        position: absolute;
        left: -200px;
        top: 0px;
        width: 1868.11px;
        height: 863.7px;
    }
}

/* ----------------------------------------------------------------

                        Mobile-Layouts

---------------------------------------------------------------- */

@media only screen and (min-width: 414px) and (max-width: 768px) and (orientation: portrait) {
    .page-header { 
        height: 50px;
    }

    .labler-container {
        height: calc(100vh + 100px);
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;

        .labler-text-holder {
            width: 90%;
            height: 375px;
            display: grid;
            grid-template-rows: 50% 1fr 30%;
            padding-top: 5%;
            margin: 0 auto;
        }
    }

    .labler-screenshot {
        width: 350px;
        height: 220px;
        left: calc(100vw - 92.5%);
        top: 600px;
    }

    .labler-boxes {
        height: 500px;
        width: 100%;
        z-index: 3;
        display: block !important;
        grid-template-columns: 1fr;

        .labler-info-box {
            width: 230px;
            height: 250px;
            margin: 50px auto;
        }
    }

    .polygon-1 {
        height: 334.87px;
        top: 1600px;
    }
    
    .polygon-2 {
        left: 90%;
        top: 1284.32px;
    }
    
    .polygon-3 {
        left: 300px;
        top: 1300.08px;
    }
    
    .polygon-4 {
        top: 1351.87px;
    }

    .vector-1 {
        position: absolute;
        left: -200px;
        top: 0px;
        width: 1868.11px;
        height: 863.7px;
    }

    .labler-box-background {
        margin-top: -700px;
    }
}
