<nav class="page-header">
  <div class="page-header-image">
    <img src="./assets/images/labler_logo.png" alt="Labler icon">
  </div>
  <div class="page-header-text">
    <span>
      Labler
    </span>
  </div>
</nav>

<!-- <div class="linear-gradient"></div> -->

<img class="polygon-1" src="./assets/svgs/big_blue_triangle.svg" alt="Big blue triangle svn">
<img class="polygon-2" src="./assets/svgs/small_blue_triangle.svg" alt="Small blue triangle svn">
<img class="polygon-3" src="./assets/svgs/red_triangle.svg" alt="Red triangle svn">
<img class="polygon-4" src="./assets/svgs/green_triangle.svg" alt="Green triangle svn">

<img class="labler-screenshot" src="./assets/images/screenshot.png" alt="Labler Screenshot">
<img class="vector-1" src="./assets/svgs/wave.svg" alt="Wave svg">


<div class="page-content">
  <div class="labler-container">
    <div class="labler-text-holder">
      <span class="labler-main-text">
        The marketplace for all the datasets you need
      </span>
      <span class="labler-description">
        Don’t waste your time creating your own datasets and find them here. It’s very easy, try it out now!
      </span>
      <div class="labler-documentation-button">
        <div (click)="openLink('http://florian-hansen.com/')">
          <span>
            Try it out now
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="labler-boxes">
    <div class="labler-info-box first-box">
      <div class="box-header">
        <span>Enterprises</span>
      </div>
      <div class="box-description">
        <span>You have very special dataset requirements and don’t want to create one by yourself? We can help you.</span>
      </div>
      <div class="box-button" (click)="openLink('http://florian-hansen.com/')">
        <span>Learn more</span>
      </div>
    </div>

    <div class="labler-info-box second-box">
      <div class="box-header">
        <span>Creators</span>
      </div>
      <div class="box-description">
        <span>You’re creating datasets and you want to share them? Perfekt, this is your place to be.</span>
      </div>
      <div class="box-button" (click)="openLink('http://florian-hansen.com/')">
        <span>Sell your assets</span>
      </div>
    </div>

    <div class="labler-info-box third-box">
      <div class="box-header">
        <span>Data Scientists</span>
      </div>
      <div class="box-description">
        <span>You have an idea and you need a dataset to train your model? Just catch one from the marketplace and don’t waste time.</span>
      </div>
      <div class="box-button" (click)="openLink('http://florian-hansen.com/')">
        <span>Get assets</span>
      </div>
    </div>

    <div class="labler-box-background">
      <img class="bubble-vector" src="./assets/svgs/bubbles.svg" alt="Bubbles svg">
    </div>

  </div>

</div>