.polygon-1 {
    position: absolute;
    width: calc(100vw / 2.6);
    height: calc(100vh / 1.7);
    left: calc(100vw / -6.5);
    top: calc(100vh / 1.0);
    transform: rotate(-1.1deg);
}

.polygon-2 {
    position: absolute;
    width: calc(100vw / 4.25);
    height: calc(100vh / 2.75);
    left: calc(100vw / 1.15);
    top: calc(100vh / 1.25);
    transform: rotate(-9.39deg);
}

.polygon-3 {
    position: absolute;
    width: calc(100vw / 4.25);
    height: calc(100vh / 2.75);
    left: calc(100vw / 1.20);
    top: calc(100vh / 1.15);
    transform: rotate(-5.24deg);
}

.polygon-4 {
    position: absolute;
    width: calc(100vw / 4.25);
    height: calc(100vh / 2.75);
    left: calc(100vw / 1.15);
    top: calc(100vh);
    transform: rotate(-126.56deg);
}

.vector-1 {
    position: absolute;
    left: calc(100vw / 4);
    top: 0px;
    width: calc(100vw / 1.25);
    height: calc(100vh);
}


//                        HD-Laptop-Layout
// ---------------------------------------------------------------- 
@media (min-width: 1400px) and (max-width: 1500px) {}

//                        MD-Laptop-Layout
// ---------------------------------------------------------------- 

@media (min-width: 1280px) and (max-width: 1400px) {

}


//                        Tablet-Layouts
// ----------------------------------------------------------------

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {}

@media (min-height: 1024px) and (max-height: 1366px) and (orientation: portrait) {

    .polygon-1 {
        top: calc(100vh / 1.1);
    }
    
    .polygon-2 {
        top: calc(100vh / 1.85);
    }
    
    .polygon-3 {
        top: calc(100vh / 1.75);
    }
    
    .polygon-4 {
        top: calc(100vh / 1.65);
    }

    .vector-1 {
        position: absolute;
        left: calc(100vw / -7.5);
        top: calc(100vh / 500);
        width: calc(100vw / 0.55);
        height: calc(100vh / 1.58);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-height: 768px) and (max-height: 1024px) and (orientation: portrait) {}

/* ----------------------------------------------------------------

                        Mobile-Layouts

---------------------------------------------------------------- */

@media only screen and (min-width: 414px) and (max-width: 768px) and (orientation: portrait) {
    .polygon-1 {
        top: calc(100vh / 1.1);
    }
    
    .polygon-2 {
        top: calc(100vh / 1.85);
    }
    
    .polygon-3 {
        top: calc(100vh / 1.75);
    }
    
    .polygon-4 {
        top: calc(100vh / 1.65);
    }

    .vector-1 {
        position: absolute;
        left: calc(100vw / -7.5);
        top: calc(100vh / 500);
        width: calc(100vw / 0.55);
        height: calc(100vh / 1.58);
    }
}
